* {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

body {
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgb(6, 0, 14);
}

body::-webkit-scrollbar {
    display: none;
  }

/* Navigation Bar */

.topnav {
    overflow: hidden;
    background-color: #333;
}
  
.topnav a {
    /* float: left; */
    display: inline-flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: rgb(105, 22, 22);
    color: white;
}

/* Primary content */

.content {
    display: grid;
    place-items: center;
}

.content h1 {
    font-size: 60px;
}

input, select, option, textarea {
    color: black;
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
    border: 3px solid rgb(105, 22, 22);
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
  
label, input, textarea{
    margin-bottom: 10px;
  }